@model Spice.Models.MenuItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MenuItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="align-text-top align-top control-label"></label>
                <textarea id="mytextarea" asp-for="Description" class="form-control"></textarea>
                @*<input asp-for="Description" class="form-control" type="text"/>*@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spycness" class="control-label"></label>
                <select asp-for="Spycness" class="form-control" asp-items="Html.GetEnumSelectList<MenuItem.Espicy>()"></select>
                @*<input asp-for="Spicness" class="form-control" /><span asp-validation-for="Spicness" class="text-danger"></span>*@
                @*<input asp-for="Spycness" class="form-control" />
                    <span asp-validation-for="Spycness" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select id="CategoryId" asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" onchange="GetSubCategory()">
                    <option>Please Select One</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label"></label>
                <select id="SubCategoryId" asp-for="SubCategoryId" class="form-control">
                    <option >Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div id="msgid">
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    
    @*Script Added for tiny make, sure to include text, area, plugins and menu bar-- Other wise it would not work.
        Also ensure to add it in the_layout file*@
    <script>
        tinymce.init({
            selector: 'textarea',// This is the area where rich text will appear
            plugins: "lists",// list will be added to the rich text editor
            menubar: 'file edit format' // menu bar will be added to the rich text editor
        });
    </script>
    
    
    @*Really important to understand how you can get different select list using, jquery, js and ajax.*@
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>  
    @*Ajax plugin is needed, it will work even without adding the above becouase it is in the_leyout page*@
    
    @*This is added to check the wiring of Jquery , if it works.*@
    <script type="text/javascript">
        $(document).ready(function(){
            $("#msgid").html("This is Hello World  from JQuery");
        });

        @*@* When the Category changes, we want to get the list of subcategory
        hence using java script for this purpose*@
    function GetSubCategory() {
        //alert("main category selected"); /*again to check wiring that we can successfully call the function when category is changed.*/
        console.log("Sub category function called on Category change");
        $.ajax({
                url: '@Url.Action("GetSubCategories", "MenuItems")', /*In the url.action we write the action and then controller*/
                contentType: "application/json; charset=utf-8", //the type of content
            datatype: "Json", // Make sure you know you are getting the data in return in the json format, try tocheck it by postman 
                //Gethttps://localhost:44362/Admin/MenuItems/GetSubCategories the data format will be like [{ value:1, text}, {value:2, text: cat name}, {etc}]
                // You can also send/receive data in other formats
                data: { CategoryIdInController: $(CategoryId).val() },// Here we write the Id in the controller action and the one we are sending.I have selected the Id from DOM using Jquery
                success: function (data) {
                $('#SubCategoryId').empty();/* To make the sub category list empty, make sure you call this method in correct syntax way*/
                $('#SubCategoryId').append("<option  value= 0>Please select one </option>");
                var k = 0;
                    while (k < data.length) {
                        $('#SubCategoryId').append("<option  value=" +data[k].value+">" +data[k].text+"</option>"); // This syntax
                        k++;
                        //The syntax above is extremely crucial , make sure you write it in the correct way, otherwise will go crazy.
                        console.log("value" + data[k].value);
                        console.log("text" + data[k].value);
                    }
                },
                error: function(reponse) {
                    alert("error : No Category found " + reponse);
                }
            });
        }
    </script>
}
